body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* To ensure that content is centered vertically across the screen */
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color:  hsl(212, 45%, 89%);
  font-weight: 400;
}

.card {
  max-width: 375px;
  margin: 50px auto;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.card img {
  width: 90%;
  height: auto;
  border-radius: 8px;
  margin: 18px auto;
}

.card p {
  padding: 0 20px;
}

.card p strong {
  display: block;
  font-weight: 700;
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.card p small {
  display: block;
  font-size: 16px;
  color: #999;
  margin-top: 10px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: auto;
  color: #999;
  position: fixed;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%); /* To center horizontally */
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}
